div(ng-controller='HeaderController')
	div(ng-if='auth.user')
		h2 Hello, 
			span(ng-bind='auth.user.username')
		div
			form(name='logout', method='post', action='/logout')
				input(type='submit', value='Log out')
	div(ng-if='!auth.user')
		div
			a(ui-sref='signup') Sign up
		div
			a(ui-sref='login') Log in