div(ng-controller='HelloController')
	div
		label(for='yourName') You name is
		input(name='yourName', type='text', ng-model='yourName')
	div
		|  {{ yourName | sayhello }}
	// <a ui-sref='nohello' href='#/nohello'>
	a(ui-sref='nohello') Go to nohello state
