h2 Log in
form(name='login', method='post', action='/login', novalidate)
	div
		label(for='username') Username
		input(name='username', type='text', placeholder='username', ng-model='user.username', required)
	div
		label(for='password') Password
		input(name='password', type='password', placeholder='password', ng-model='user.password', required)
	div
		input(type='submit', value='Log in')
div
	a(href='/oauth/facebook') Log in with Facebook
div
	a(href='/oauth/google') Log in with Google
