h2 Log in
form(name='loginForm', ng-controller='AuthController', ng-submit='login(loginForm.$valid)', novalidate)
	div
		label(for='username') Username
		input(name='username', type='text', placeholder='username', ng-model='user.username', required)
		div(ng-messages='loginForm.username.$error', ng-show='signupForm.email.$touched', style='color:maroon', role='alert')
			div(ng-message='required') You did not enter a field.
	div
		label(for='password') Password
		input(name='password', type='password', placeholder='password', ng-model='user.password', required)
		div(ng-messages='loginForm.password.$error', ng-show='signupForm.email.$touched', style='color:maroon', role='alert')
			div(ng-message='required') You did not enter a field.
	div
		input(type='submit', value='Log in', ng-disabled='loginForm.$invalid')
div
	a(href='/oauth/facebook') Log in with Facebook
div
	a(href='/oauth/google') Log in with Google
