doctype html
html
	head
		title= title
		link(href='css/main.css', rel='stylesheet')
	body
		if username
			h2 Hello #{username}
			div
				form(name='logout', method='post', action='/logout')
					input(type='submit', value='Log out')
		else
			div
				a(href='/signup') Sign up
			div
				a(href='/login') Log in
			//div#mainApp(ng-include="'/modules/hello/views/hello.client.view.jade'")
			div#mainApp(ui-view)


		script(type='text/javascript', src='/lib/angular/angular.min.js')
		script(type='text/javascript', src='/lib/angular-ui-router/release/angular-ui-router.min.js')
		script(type='text/javascript', src='/modules/hello/hello.client.module.js')
		script(type='text/javascript', src='/modules/hello/config/hello.client.routes.js')
		script(type='text/javascript', src='/modules/hello/controllers/hello.client.controller.js')
		script(type='text/javascript', src='/modules/hello/filters/hello.client.filter.js')
		script(type='text/javascript', src='application.js')