html
	head
		title= title
		link(href='/css/main.css', rel='stylesheet')
	body
		if username
			h2 Hello #{username}
			div
				form(name='logout', method='post', action='/logout')
					input(type='submit', value='Log out')
		else
			div
				a(href='/signup') Sign up
			div
				a(href='/login') Log in
			div#mainApp(ng-controller='NameController')
				div
					label(for='yourName') You name is
					input(name='yourName', type='text', ng-model='yourName')
				div
					|  {{ yourName | sayhello }}

		script(type='text/javascript', src='/lib/angular/angular.min.js')
		script(type='text/javascript', src='/modules/hello/hello.client.module.js')
		script(type='text/javascript', src='/application.js')